header{
    background-color: hsla(212, 72%, 76%, 0.855);
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #bb7162;
}

li{
    color: white;
    display: inline;
    margin: 10px;
    font-size: 25px;
}

main{
    width: 85%;
    margin: 2% 5% 0 8%;
   font-size: 28px;
}
ul{
    padding: 1% 1% 1% 8%;
 }

 li a:hover{
    color: rgb(110, 23, 7);
    font-weight: bold;
    text-decoration: underline;
 }

 li a {
    color: white;
    font-size: 40px;
    text-decoration: none;
 }

section {
    margin-top: 25px;
    background-color:rgba(183, 189, 190, 0.87)
}

.title1{
    margin-top: 0;
    padding: 4% 0 0 8%;
    font-weight: bold;
    font-size: 84px;
    color: white;
}

#photo {
    width: 100%;

}
.title2 {
    padding: 0% 0 1% 8%;
    font-size: 46px;
    font-weight: bold;
    color: darkblue;
}

section{
    width: 67%;
    padding: 35px
    
}

aside{
    float: right;
    margin-top: 25px;
    position: relative;
    left: 1,5%;
<<<<<<< HEAD
    height: 1180px;
=======
    height: 1090px;
>>>>>>> main
    padding : 25px;
    width: 25%;
    text-align: justify;
    font-weight: bold; 
    font-size: 35px;
    color: cornsilk;
    background-color: rgb(194, 71, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
<<<<<<< HEAD
}

.right , .middle , .left {
    display: inline;
    float: left;
}

    .middle {
        font-size: 25px;
        width: 42%;
        margin: 25px 45px 0 35px;
}

.right , .left {
        height: 540px;
        width: 20%;
}

.article {
        float: left;
        position: static;
        margin-top : 6%;
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
        background-color: rgb(117, 116, 116);
}

.contenu {
        font-size: 22px;
        width: 70%;
}

.image{
        width: 20%;
        border-top:solid rgba(183, 189, 190, 0.87);
        background-color: white;
        padding: 0;
}

    .image img{
        width: 460px;
}

.image, .contenu{
        display : inline-block;
        float:left;
}

.poches , h1, em {
    display: inline;
=======
}

.right , .middle , .left {
    display: inline;
    float: left;
    }

    .middle {
        font-size: 25px;
        width: 42%;
        margin: 25px 45px 0 35px;
        }

.right , .left {
        height: 540px;
        width: 20%;
        }

.article {
        float: left;
        position: static;
        margin-top : 6%;
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
        background-color: rgb(117, 116, 116);
    }

.contenu {
        font-size: 22px;
        width: 70%;
    }

.image{
        width: 20%;
        border-top:solid rgba(183, 189, 190, 0.87);
        background-color: white;
        padding: 0;
    }

    .image img{
        width: 460px;
    }

.image, .contenu {
        display : inline-block;
        float:left;
}

.poches , h1, em {
    display: inline;
>>>>>>> main
}

.poches, h2 {
    margin-top: 0;
    font-size: 35px;
}

.poches , h1 {
    font-size: 45px;
}

em{
    font-size: 17px;
    font-style: normal;
}

.liste ul li {
    display: block;
    color: black;
    font-size: 17px;
    padding: 0;
}

.liste ul {
    padding: 0;
}